# Ignore specific data file types
*.dat
*.csv
*.hdf5
*.h5
*.root
*.fits
# Ignore large binary files
*.bin
*.pkl
*.pickle
# Ignore all data folders
Data/
data/
*/Data/
*/data/
outputs/
submits/

# Ignore compiled files
corsika_inputs/sampled_muon_parameters_1E3_1E7.txt